initConfig:

instances:

    ## @param name - string - required
    #
  - #name: log.count

    ## @param filePath - string - required
    #
    #filePath: /var/log/nginx/access.log

    # #param tagsPattern -  map[string]string - optional
    # tagsPattern:
    #   code: HTTP\/1.1"\s([0-9]{3})
    #   service: \s\/api\/(.*?)\/

    # #param pattern -  string - required
    # pattern: /api/

    # #param func -  string - required - enum: count, histogram
    # func: count

    ## @param emptyDefaultHostname - boolean - optional - default: false
    ## This forces the check to send metrics with no hostname.
    ##
    ## This is useful for cluster-level checks.
    #
    # emptyDefaultHostname: false

    ## @param tags - list of strings - optional
    ## A list of tags to attach to every metric and service check emitted by this instance.
    ##
    ## Learn more about tagging at https://docs.datadoghq.com/tagging
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

    ## @param service - string - optional
    ## Attach the tag `service:<SERVICE>` to every metric, event, and service check emitted by this integration.
    ##
    ## Overrides any `service` defined in the `initConfig` section.
    #
    # service: <SERVICE>

