## All options defined here are available to all instances.
#
initConfig:

## Every instance is scheduled independent of the others.
#
instances:

    ## @param period - int - optional - default: 3600
    ## The period of the function, in seconds
    #
  - period: 3600

    ## @param count - int - optional - default: 8
    ## The Count of the series
    #
    # count: 8
    
    ## @param offset - int - optional - default: 0
    ## Offset time, in seconds
    #
    # offset: 0
    
    ## @param tags - list of strings - optional
    ## A list of tags to attach to every metric and service check emitted by this instance.
    ##
    ## Learn more about tagging at https://docs.datadoghq.com/tagging
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

    ## @param minCollectionInterval - number - optional - default: 15
    ## This changes the collection interval of the check. For more information, see:
    ## https://docs.datadoghq.com/developers/writeAgentCheck/#collection-interval
    #
    # minCollectionInterval: 15



