init_config:

instances:

    ## @param metric_name - string - required
    #
  - #metric_name: log_count

    ## @param file_path - string - required
    #
    #file_path: /var/log/nginx/access.log

    # #param tags_pattern -  map[string]string - optional
    # tags_pattern:
    #   code: HTTP\/1.1"\s([0-9]{3})
    #   service: \s\/api\/(.*?)\/

    # #param pattern -  string - required
    # pattern: /api/

    # #param func -  string - required - enum: count, histogram
    # func: count

    ## @param tags - list of strings - optional
    ## A list of tags to attach to every metric and service check emitted by this instance.
    ##
    ## Learn more about tagging at https://docs.datadoghq.com/tagging
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

    ## @param min_collection_interval - number - optional - default: 15
    ## This changes the collection interval of the check. For more information, see:
    ## https://docs.datadoghq.com/developers/writeAgentCheck/#collection-interval
    #
    # min_collection_interval: 15
